<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-info mb-3">
			<div class="card-header text-white" th:text="${titulo}"></div>
			<div class="card-body">
				<img th:if="${#strings.length(cliente.foto) >0}" style="max-height: 200px; max-width: 200px" class="img-thumbnail rounded float-left" th:src="@{'/uploads/'+ ${cliente.foto}}" />
				<ul class="list-group">
					<li class="list-group-item" th:text=${cliente.nombre}></li>
					<li class="list-group-item" th:text=${cliente.apellido}></li>
					<li class="list-group-item" th:text=${cliente.createAt}></li>
					<li class="list-group-item" th:text=${cliente.email}></li>
					<li class="list-group-item text-right"><a th:href="@{/listar}" class="btn btn-light">Volver</a></li>
				</ul>
			</div>
		</div>
		<br />
		<div class="card ">
			<div class="card-header text-white bg-warning mb-3">Facturas</div>
			<div class="card-body">
				<div class="button-group" align="right">
					<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/factura/form/}+${cliente.id}" class="btn btn-primary">Nueva Factura</a>
				</div>
				<div th:if=${#lists.isEmpty(cliente.facturas)} class="alert alert-info my-4" th:text="'No hay factura para '+${cliente.toString()}"></div>
				<table th:if=${!#lists.isEmpty(cliente.facturas)} class="table table-bordered table-striped my-4">
					<thead>
						<tr>
							<th>Folio</th>
							<th>Desccripcón</th>
							<th>Fecha</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="factura: ${cliente.facturas}">
							<td>
								<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-default" th:href="@{'/factura/eliminar/'}+${factura.id}"><i class="fa fa-times"></i></a>
								<a class="btn btn-link" th:text=${factura.id} th:href="@{'/factura/ver/'}+${factura.id}"></a> 
							</td>
							<td th:text=${factura.descripcion}></td>
							<td th:text=${factura.createAt}></td>
							<td th:text=${factura.total}></td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>